* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    color: white;
    background-color: black;
}

.main-container {
    width: 100%;
    height: 400px;
    background-color: gray;
}

.div1 {
    width: 23%;
    height: 400px;
    background-color: lightblue;
    float: left;
}

.div2 {
    width: 75%;
    height: 400px;
    background-color: lightblue;
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
}